<body style="margin: 0;padding: 0;font-family: Arial, sans-serif;background-color: #FFF5E4;">
    <section class="services">

        <div class="box-container">
     
           <div class="box">
              <img src="../../assets/images/icon-1.png" alt="">
              <h3>food & drinks</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, sunt?</p>
           </div>
     
           <div class="box">
              <img src="../../assets/images/icon-2.png" alt="">
              <h3>outdoor dining</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, sunt?</p>
           </div>
     
           <div class="box">
              <img src="../../assets/images/icon-3.png" alt="">
              <h3>beach view</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, sunt?</p>
           </div>
     
           <div class="box">
              <img src="../../assets/images/icon-4.png" alt="">
              <h3>decorations</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, sunt?</p>
           </div>
     
           <div class="box">
              <img src="../../assets/images/icon-5.png" alt="">
              <h3>swimming pool</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, sunt?</p>
           </div>
     
           <div class="box">
              <img src="../../assets/images/icon-6.png" alt="">
              <h3>resort beach</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, sunt?</p>
           </div>
     
        </div>
     
     </section>
    <h4 style="text-align: center; color: #850E35;">PROYECTO ECHO POR LA UNIVERIDAD AUTONOMA DE AGUSCALIENTES</h4>
    <div class="container">
      <div class="imagen-container">
        <img src="../../assets/images/UAA.jpeg" class="imagen" alt="Logo UAA">
      </div>
    </div>
    <div class="container">
      <div class="persona">
        <div class="imagen" style="background-image: url('../../assets/images/Carlos.jpeg'); height: 300px"></div>
        <div class="info">
          <div class="nombre">Carlos Alberto</div>
          <div class="apellido">Zaragoza Cano</div>
          <div class="grado">6to</div>
          <div class="grupo">C</div>
          <div class="carrera">Ingeniería en Sistemas</div>
        </div>
      </div>
      <div class="persona">
        <div class="imagen" style="background-image: url('../../assets/images/Daniel.jpeg'); height: 300px"></div>
        <div class="info">
          <div class="nombre">Carlos Daniel</div>
          <div class="apellido">De Lira Salas</div>
          <div class="grado">6to</div>
          <div class="grupo">C</div>
          <div class="carrera">Ingeniería en Sistemas</div>
        </div>
      </div>
      <div class="persona">
        <div class="imagen" style="background-image: url('../../assets/images/Leo.jpeg');height: 300px"></div>
        <div class="info">
          <div class="nombre">Leonardo</div>
          <div class="apellido">Pedroza Gonzalez</div>
          <div class="grado">6to</div>
          <div class="grupo">C</div>
          <div class="carrera">Ingeniería en Sistemas</div>
        </div>
      </div>
    </div>
  </body>