<section class="gallery" id="gallery">

    <div class="swiper gallery-slider">
       <div class="swiper-wrapper">
          <img src="../../assets/images/gallery-img-1.jpg" class="swiper-slide" alt="">
          <iframe  class="swiper-slide"
 width="560"
 height="315"
 [src]="video | video:'https://www.youtube.com/embed/' "
 frameborder="0"
 allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
 allowfullscreen
></iframe>
       </div>
       <div class="swiper-pagination"></div>
    </div>
 
 </section>

 

